a:hover,
a:focus {
  color: $baseColor;
}

.mobile_header .input-group .form-control {
  border: 0;
  outline: none;
}
.mobile_header .input-group .form-control:focus {
  outline: none !important;
  border: none !important;
}

.link-underline {
  box-shadow: 0 1px 0 0 #c96;
}

.text-primary {
  color: #c96 !important;
}

.text-secondary {
  color: #000 !important;
}

.sticky-wrapper {
  display: none;
}

.custom_widget_list {
  li {
    border-bottom: 1px solid #eee;

    &:last-child {
      border: none;
    }

    a {
      display: block;
      color: #555;
      padding: 1rem 1rem;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.5;

      &:hover {
        background-color: #eee;
        color: var(--theme-color);
      }
    }
  }
}

.custom_widget_list li a.active {
  color: #3399ff;
}

.product_summary_table td {
  padding: 6px 10px;
}

.btn-default {
  background-color: var(--button-bg-color);
  color: var(--button-font-color);
  border-radius: 0.2rem;

  &:hover {
    background-color: var(--button-bg-hover-color);
    color: var(--button-font-hover-color);
  }

  &:focus {
    background-color: var(--button-bg-hover-color);
    color: var(--button-font-hover-color);
  }
}

.btn-default {
  color: $baseFontColor;
  padding: 0.8rem 0.8rem;
  border: none;
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &:hover,
  &:focus {
    color: $baseHoverFontColor;
  }
}

.input-group {
  //max-width: 130px;

  .form-control {
    height: 39px;
    padding: 0.3rem 0.3rem;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 400;
    color: #444;
  }

  .btn-default {
    padding: 0;
  }

  .input-group-prepend {
    .btn-default {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  .input-group-append {
    .btn-default {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.cart-remove {
  color: var(--theme-color);
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.4rem;

  &:hover,
  &:focus {
    color: var(--theme-color);
  }
}

.nav-item-text {
  font-size: 1.6rem;
  display: inline-flex;
  vertical-align: middle;
}

.dropdown-menu.nav_customer_menus {
  padding: 1rem 0 0 0;
  width: 100%;

  .dropdown-item {
    color: #0c0c0c;
    display: block;
    padding: 6px 10px;
    font-size: 1.4rem;
    border-bottom: 1px solid #ddd;

    &:hover {
      color: var(--theme-color);
      background-color: rgba(221, 221, 221, 0.35);
    }

    :last-child {
      padding-bottom: 0;
    }
  }
}

.stick_footer_nav {
  min-height: 40px;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 8px rgba(205, 205, 205, 0.6);

  a {
    padding: 0;
  }

  .sticky_nav_icon {
    font-size: 3rem;
    line-height: 1.8;
    color: var(--theme-color);
  }
}

.mobile_header {
  padding-bottom: 10px;

  .logo {
    margin: 12px 0;
    margin-bottom: 8px;

    img {
      height: 45px;
    }
  }

  .input-group .form-control {
    height: 40px;
    padding: 0.85rem 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    color: #444;
  }

  .label_btn {
    margin-bottom: 0;
    cursor: pointer;
  }

  .btn-search {
    background-color: $dark2;
    color: #fff;
    padding: 0.2rem 1.2rem;
    font-size: 1.9rem;
    border-radius: 0px 10px 10px 0px;
  }
  .btn-camera {
    background-color: $white;
    color: #000;
    padding: 0.2rem 1.2rem;
    font-size: 1.9rem;
    border-radius: 10px 0 0 10px !important;
  }
}

.product_list_container {
  background-color: #fff;
  padding: 1rem;
}

.product-sidebar {
  background-color: transparent;
  padding: 0;
  max-height: 92rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.ProductConfiguredItems {
  max-height: 220px;
  overflow-y: auto;
  margin-bottom: 3rem !important;
}

.maxQuantityText {
  color: #444;
  font-size: 1.1rem;
  margin: 0;
}

.btn_only_add {
  border-radius: 4px;
  padding: 2px 8px;

  i {
    margin: 0;
  }
}

.modal_custom {
  background: rgba(0, 0, 0, 0.3);

  .modal-body {
    max-height: 400px;
    overflow-y: auto;
  }

  .modal-title {
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .modal-dialog {
    max-width: 575px;
  }

  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

.address_card {
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  position: relative;

  .btn_ship_here {
    position: absolute;
    right: 6%;
    bottom: 40%;
    padding: 0 5px;
    background: #ea7a26;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
}

.swal-button {
  background-color: #fb6102;

  &:focus {
    box-shadow: none;
  }

  &.swal-button--cancel {
    color: #555;
    background-color: #efefef;
  }
}

.swal-button:not([disabled]):hover {
  background-color: #e36112;
}

.swal-button--cancel:not([disabled]):hover {
  background-color: #e8e8e8;
}

.payment_card {
  background: #fff;
  //border: 1px dashed #ddd;
  //padding: 3rem 0;
}

.categories_box {
  text-align: center;

  a {
    display: block;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

    img {
      display: inline-block;
      width: 100%;
      max-width: 150px;
      height: auto;
    }

    span {
      text-transform: capitalize;
      margin-top: 5px;
      display: block;
      color: #333;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 400;
    }

    &:hover {
      span {
        color: var(--theme-color);
      }
    }
  }
}

.video_thumb {
  position: relative;

  .videoPlayerIcon {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    z-index: 10000;
    background: transparent;
    color: #e96d28;
    text-align: center;
    font-size: 2.5rem;
  }
}

.more-to-love {
  text-align: center;
  border-radius: 4px;
  border: 0.1rem solid #ebebeb;

  .title {
    width: 100%;
    font-size: 20px;
    margin-top: 15px !important;
    font-weight: bold;
  }

  .love-left,
  .love-right {
    font-size: 30px;
  }
}

.menuBlock {
  position: relative;
}

// my styles
.m-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}
.mt05 {
  margin-top: 0.5rem !important;
}
.flex {
  display: flex;
}
.flexRow {
  flex-direction: row;
}
.flexCol {
  flex-direction: column;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
}
.flexCenter {
  display: flex;
  justify-content: center;
}
.bold {
  font-weight: 700;
}

// banner
.bannerSection {
  display: grid;
  grid-template-columns: 1fr 470px;
  grid-gap: 0.75rem;
  gap: 0.75rem;
}
.promotions {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slImg,
.promotions img {
  height: 470px;
}

// home box
.homeBoxContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 0.75rem;
  grid-gap: 0.65rem;
  gap: 0.65rem;
  width: 100%;
  border-radius: 4px;
}
.homeComp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 4px;
  align-items: center;
  img {
    flex: 1 1;
    width: 128px;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-weight: 700;
    margin-bottom: 0.25rem;
  }
  button {
    margin-top: 1rem;
  }
}

.bt {
  height: 36px;
  border: none;
  padding: 0 1rem;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #ecd38e 50%, #ffda72);
  color: #000;
  cursor: pointer;
}

// category
.topCatContainer {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid rgb(238, 238, 238);
}
.topAr1 {
  width: 28px;
  height: 28px;
  padding: 6px;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 16px;
  justify-content: center;
  cursor: pointer;
}
.topAr2 {
  width: 28px;
  height: 28px;
  padding: 6px;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 16px;
  justify-content: center;
  cursor: pointer;
  margin-left: 5px;
}
.topTitle {
  font-size: 15px;
  margin: 0.75rem 0 0.475rem;
}
.responsiveOverflow {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;

  width: 100%;
  display: flex;
  overflow: auto;
}
.sellerCategoryContainer {
  display: inline-flex;
  .category {
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-right: 1px solid rgb(238, 238, 238);
    padding: 0.5rem 1rem;
    width: 156px;
    .cat-img {
      width: 40px;
      height: 80px;
      object-fit: contain;
    }
    span {
      height: 48px;
      text-align: center;
      font-size: 13px;
      text-transform: capitalize;
      font-weight: 600;
      word-break: keep-all;
    }
  }
}

// responsiveness

@media only screen and (max-width: 1700px) {
  .bannerSection {
    grid-template-columns: 1fr 360px;
  }
  .slImg,
  .promotions img {
    height: 360px;
  }
}

@media only screen and (max-width: 1500px) {
  .bannerSection {
    grid-template-columns: 1fr 320px;
  }
  .slImg,
  .promotions img {
    height: 320px;
  }
}

@media only screen and (max-width: 1400px) {
  .bannerSection {
    grid-template-columns: 1fr;
  }
  .offer-box {
    display: none;
  }
  .slImg {
    height: auto;
  }
  .homeComp h3 {
    font-size: 18px;
    text-align: center;
  }
  .homeBoxContainer button {
    font-size: 12px;
    width: 140px;
    height: 32px;
    padding: 0 0.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .c-card {
    border-radius: 0 !important;
  }
}
@media only screen and (max-width: 800px) {
  .homeBoxContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.75rem;
    grid-gap: 0.5rem;
    gap: 0.5rem;
  }
}
