
a:hover,
a:focus {
  color: $baseColor;
}

.link-underline {
  box-shadow: 0 1px 0 0 #c96;
}

.text-primary {
  color: #c96 !important;
}

.text-secondary {
  color: #000 !important;
}


.sticky-wrapper {
  display: none;
}

.custom_widget_list {
  li {
    border-bottom: 1px solid #eee;

    &:last-child {
      border: none;
    }

    a {
      display: block;
      color: #555;
      padding: 1rem 1rem;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.5;

      &:hover {
        background-color: #eee;
        color: var(--theme-color);
      }
    }
  }
}

.custom_widget_list li a.active {
  color: #3399ff;
}

.product_summary_table td {
  padding: 6px 10px;
}

.btn-default {
  background-color: var(--button-bg-color);
  color: var(--button-font-color);
  border-radius: 0.2rem;

  &:hover {
    background-color: var(--button-bg-hover-color);
    color: var(--button-font-hover-color);
  }

  &:focus {
    background-color: var(--button-bg-hover-color);
    color: var(--button-font-hover-color);
  }
}


.btn-default {
  color: $baseFontColor;
  padding: 0.8rem 0.8rem;
  border: none;
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  &:hover, &:focus {
    color: $baseHoverFontColor;
  }
}


.input-group {
  //max-width: 130px;

  .form-control {
    height: 39px;
    padding: .3rem 0.3rem;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 400;
    color: #444;
  }

  .btn-default {
    padding: 0;
  }

  .input-group-prepend {
    .btn-default {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  .input-group-append {
    .btn-default {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

}


.cart-remove {
  color: var(--theme-color);
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.4rem;

  &:hover, &:focus {
    color: var(--theme-color);
  }
}

.nav-item-text {
  font-size: 1.6rem;
  display: inline-flex;
  vertical-align: middle;
}

.dropdown-menu.nav_customer_menus {
  padding: 1rem 0 0 0;
  width: 100%;

  .dropdown-item {
    color: #0c0c0c;
    display: block;
    padding: 6px 10px;
    font-size: 1.4rem;
    border-bottom: 1px solid #ddd;

    &:hover {
      color: var(--theme-color);
      background-color: rgba(221, 221, 221, 0.35);
    }

    :last-child {
      padding-bottom: 0;
    }
  }

}


.stick_footer_nav {
  min-height: 40px;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 8px rgba(205, 205, 205, 0.60);

  a {
    padding: 0;
  }

  .sticky_nav_icon {
    font-size: 3rem;
    line-height: 1.8;
    color: var(--theme-color);
  }
}


.mobile_header {
  padding-bottom: 10px;

  .logo {
    margin: 12px 0;
    margin-bottom: 8px;

    img {
      height: 45px;
    }
  }

  .input-group .form-control {
    height: 35px;
    padding: .85rem 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    color: #444;
  }

  .label_btn {
    margin-bottom: 0;
    cursor: pointer;
  }

  .btn-search {
    background-color: $baseColor;
    color: #fff;
    padding: 0.2rem 0.8rem;
    font-size: 1.9rem;

    &:hover, &:focus {
      background-color: $baseHoverColor;
      color: $baseHoverFontColor;
    }
  }
}


.product_list_container {
  background-color: #fff;
  padding: 1rem;
}

.product-sidebar {
  background-color: transparent;
  padding: 0;
  max-height: 92rem;
  overflow-y: auto;
  overflow-x: hidden;


}

.ProductConfiguredItems {
  max-height: 220px;
  overflow-y: auto;
  margin-bottom: 3rem !important;


}

.maxQuantityText {
  color: #444;
  font-size: 1.1rem;
  margin: 0;
}

.btn_only_add {
  border-radius: 4px;
  padding: 2px 8px;

  i {
    margin: 0;
  }
}


.modal_custom {
  background: rgba(0, 0, 0, 0.3);

  .modal-body {
    max-height: 400px;
    overflow-y: auto;
  }

  .modal-title {
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .modal-dialog {
    max-width: 575px;
  }

  .modal-lg, .modal-xl {
    max-width: 800px;
  }
}

.address_card {
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  position: relative;

  .btn_ship_here {
    position: absolute;
    right: 6%;
    bottom: 40%;
    padding: 0 5px;
    background: #ea7a26;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
}


.swal-button {
  background-color: #fb6102;

  &:focus {
    box-shadow: none;
  }

  &.swal-button--cancel {
    color: #555;
    background-color: #efefef;
  }
}


.swal-button:not([disabled]):hover {
  background-color: #e36112;
}

.swal-button--cancel:not([disabled]):hover {
  background-color: #e8e8e8;
}


.payment_card {
  background: #fff;
  //border: 1px dashed #ddd;
  //padding: 3rem 0;
}


.categories_box {
  text-align: center;

  a {
    display: block;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;

    img {
      display: inline-block;
      width: 100%;
      max-width: 150px;
      height: auto;
    }

    span {
      text-transform: capitalize;
      margin-top: 5px;
      display: block;
      color: #333;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 400;
    }


    &:hover {
      span {
        color: var(--theme-color);
      }
    }
  }


}

.video_thumb {
  position: relative;

  .videoPlayerIcon {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    z-index: 10000;
    background: transparent;
    color: #e96d28;
    text-align: center;
    font-size: 2.5rem;
  }

}

.more-to-love {
  text-align: center;
  border-radius: 4px;
  border: .1rem solid #ebebeb;

  .title {
    width: 100%;
    font-size: 20px;
    margin-top: 15px !important;
    font-weight: bold;
  }

  .love-left, .love-right {
    font-size: 30px;
  }

}

.menuBlock{
  position: relative;
}










































































































