@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
a:hover,
a:focus {
  color: $baseColor;
}

.mobile_header .input-group .form-control {
  border: 0;
  outline: none;
}
.mobile_header .input-group .form-control:focus {
  outline: none !important;
  border: none !important;
}

.link-underline {
  box-shadow: 0 1px 0 0 #c96;
}

.text-primary {
  color: #c96 !important;
}

.text-secondary {
  color: #000 !important;
}

.sticky-wrapper {
  display: none;
}

.custom_widget_list {
  li {
    border-bottom: 1px solid #eee;

    &:last-child {
      border: none;
    }

    a {
      display: block;
      color: #555;
      padding: 1rem 1rem;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.5;

      &:hover {
        background-color: #eee;
        color: var(--theme-color);
      }
    }
  }
}

.custom_widget_list li a.active {
  color: #3399ff;
}

.product_summary_table td {
  padding: 6px 10px;
}

.btn-default {
  height: 36px;
  border: none;
  padding: 0 1rem;
  border-radius: 4px;
  color: $baseFontColor;
  padding: 0.8rem 0.8rem;
  border: none;
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  &:hover,
  &:focus {
    color: $baseHoverFontColor;
  }
}

.input-group {
  //max-width: 130px;

  .form-control {
    height: 39px;
    padding: 0.3rem 0.3rem;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 400;
    color: #444;
  }

  .btn-default {
    padding: 0;
  }

  .input-group-prepend {
    .btn-default {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  .input-group-append {
    .btn-default {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.cart-remove {
  color: var(--theme-color);
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.4rem;

  &:hover,
  &:focus {
    color: var(--theme-color);
  }
}

.nav-item-text {
  font-size: 1.6rem;
  display: inline-flex;
  vertical-align: middle;
}

.dropdown-menu.nav_customer_menus {
  padding: 1rem 0 0 0;
  width: 100%;

  .dropdown-item {
    color: #0c0c0c;
    display: block;
    padding: 6px 10px;
    font-size: 1.4rem;
    border-bottom: 1px solid #ddd;

    &:hover {
      color: var(--theme-color);
      background-color: rgba(221, 221, 221, 0.35);
    }

    :last-child {
      padding-bottom: 0;
    }
  }
}

.stick_footer_nav {
  min-height: 40px;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 8px rgba(205, 205, 205, 0.6);

  a {
    padding: 0;
  }

  .sticky_nav_icon {
    font-size: 3rem;
    line-height: 1.8;
    color: var(--theme-color);
  }
}

.mobile_header {
  padding-bottom: 10px;

  .logo {
    margin: 12px 0;
    margin-bottom: 8px;

    img {
      height: 45px;
    }
  }

  .input-group .form-control {
    height: 40px;
    padding: 0.85rem 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    color: #444;
  }

  .label_btn {
    margin-bottom: 0;
    cursor: pointer;
  }

  .btn-search {
    background-color: $baseColor;
    color: #fff;
    padding: 0.2rem 1.2rem;
    font-size: 1.9rem;
    border-radius: 0px 10px 10px 0px;
  }
  .btn-camera {
    background-color: $white;
    color: #000;
    padding: 0.2rem 1.2rem;
    font-size: 1.9rem;
    border-radius: 10px 0 0 10px !important;
  }
}

.product_list_container {
  background-color: #fff;
  padding: 1rem;
}

.product-sidebar {
  background-color: transparent;
  padding: 0;
  max-height: 92rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}
.product-sidebar::-webkit-scrollbar {
  width: 0;
}

.ProductConfiguredItems {
  max-height: 220px;
  overflow-y: auto;
  margin-bottom: 3rem !important;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0;
}

.maxQuantityText {
  color: #444;
  font-size: 1.1rem;
  margin: 0;
}

.btn_only_add {
  border-radius: 4px;
  padding: 2px 8px;

  i {
    margin: 0;
  }
}

.modal_custom {
  background: rgba(0, 0, 0, 0.3);

  .modal-body {
    max-height: 400px;
    overflow-y: auto;
  }

  .modal-title {
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .modal-dialog {
    max-width: 575px;
  }

  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

.address_card {
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  position: relative;

  .btn_ship_here {
    position: absolute;
    right: 6%;
    bottom: 40%;
    padding: 0 5px;
    background: #ea7a26;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
}

.swal-button {
  background-color: #fb6102;

  &:focus {
    box-shadow: none;
  }

  &.swal-button--cancel {
    color: #555;
    background-color: #efefef;
  }
}

.swal-button:not([disabled]):hover {
  background-color: #e36112;
}

.swal-button--cancel:not([disabled]):hover {
  background-color: #e8e8e8;
}

.payment_card {
  background: #fff;
  //border: 1px dashed #ddd;
  //padding: 3rem 0;
}

.categories_box {
  text-align: center;

  a {
    display: block;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

    img {
      display: inline-block;
      width: 100%;
      max-width: 150px;
      height: auto;
    }

    span {
      text-transform: capitalize;
      margin-top: 5px;
      display: block;
      color: #333;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 400;
    }

    &:hover {
      span {
        color: var(--theme-color);
      }
    }
  }
}

.video_thumb {
  position: relative;

  .videoPlayerIcon {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    z-index: 10000;
    background: transparent;
    color: #e96d28;
    text-align: center;
    font-size: 2.5rem;
  }
}

.more-to-love {
  text-align: center;
  border-radius: 4px;
  border: 0.1rem solid #ebebeb;

  .title {
    width: 100%;
    font-size: 20px;
    margin-top: 15px !important;
    font-weight: bold;
  }

  .love-left,
  .love-right {
    font-size: 30px;
  }
}

.menuBlock {
  position: relative;
}

// my styles
.m-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}
.mb15 {
  margin-bottom: 1.5rem;
}
.mt05 {
  margin-top: 0.5rem !important;
}
.mb05 {
  margin-bottom: 0.5rem;
}
.flex {
  display: flex;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  flex-direction: column;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
}
.flexCenter {
  display: flex;
  justify-content: center;
}
.flexMiddle {
  display: flex;
  align-items: center;
}
.bold {
  font-weight: 700;
}
.darkBtn {
  background-image: none !important;
  background-color: #1d262d !important;
}
.fs14 {
  font-size: 14px;
}
.app-in {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h3 {
    font-weight: bold;
    margin: 0.5rem 0px 1rem;
    color: $white;
    font-size: 18px;
  }
  p {
    font-size: 14px;
    margin-right: "1rem";
    margin-bottom: 0.5rem;
    color: $white;
  }
}
.cardHighlight {
  // background-image: linear-gradient(90deg, #f7b733 50%, #ffda72);
  background-image: linear-gradient(to right, #f7b733, #fc4a1a);
}

.mb05 {
  margin-bottom: 0.5rem;
}
.mr05 {
  margin-right: 0.5rem;
}
.mr1 {
  margin-right: 1rem;
}
.mr01 {
  margin-right: 0.5rem;
}
.ml01 {
  margin-left: 0.5rem;
}
.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.pd-btn {
  margin: 0.5rem 0;
}
.bt {
  height: 36px;
  border: none;
  padding: 0 1rem;
  border-radius: 4px;
  color: $baseFontColor;
  padding: 0.8rem 0.8rem;
  border: none;
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  &:hover,
  &:focus {
    color: $baseHoverFontColor;
  }
}
.bt:hover {
  cursor: pointer;
}
.imageBt {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  height: 44px;
  border-radius: 4px;
}
.ripple {
  background-position: 100%;
  transition: all 0.2s;
}
.disabled {
  color: $baseFontColor;
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a);
}

.pl-head {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    font-weight: 600;
    margin: 0.75rem 0 0.475rem;
    font-size: 14px;
  }
}

.air-p {
  font-size: 14px;
  padding: 0.275rem 0px;
  margin-bottom: 0.5rem;
}
.sea-p {
  margin-top: 0.75rem;
  font-size: 14px;
  background: rgb(0, 0, 0);
  padding: 0.275rem 0.6rem;
  color: rgb(255, 255, 255);
  border-radius: 4px;
}
.airInput {
  padding: 6px 12px;
  height: 36px;
  font-size: 14px;
  font-weight: 600;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ecd38e;
}
.saleChinaOff {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// banner
.bannerSection {
  display: grid;
  grid-template-columns: 1fr 470px;
  grid-gap: 0.75rem;
  gap: 0.75rem;
}
.promotions {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slImg,
.promotions img {
  height: 470px;
}

// home box
.homeBoxContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.65rem;
  gap: 0.65rem;
  width: 100%;
  border-radius: 4px;
}
.homeComp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 4px;
  align-items: center;
  img {
    flex: 1 1;
    width: 128px;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-weight: 700;
    margin-bottom: 0.25rem;
  }
  button {
    margin-top: 1rem;
  }
}

// category
.topCatContainer {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid rgb(238, 238, 238);
}
.topAr1 {
  width: 26px;
  height: 26px;
  padding: 8px;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 16px;
  justify-content: center;
  cursor: pointer;
}
.topAr2 {
  width: 26px;
  height: 26px;
  padding: 8px;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 16px;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
}
.topTitle {
  font-size: 15px;
  margin: 0.75rem 0 0.475rem;
}
.responsiveOverflow {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;

  width: 100%;
  display: flex;
  overflow: hidden;
}
.sellerCategoryContainer {
  display: inline-flex;
  .category {
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-right: 1px solid rgb(238, 238, 238);
    padding: 0.5rem 1rem;
    width: 156px;
    .cat-img {
      width: 40px;
      height: 80px;
      object-fit: contain;
    }
    span {
      height: 48px;
      text-align: center;
      font-size: 13px;
      text-transform: capitalize;
      font-weight: 600;
      word-break: keep-all;
    }
  }
}
.shippingBoxContainer {
  display: flex;
}
.shippingBox {
  background-color: #edd48f;
  flex: 1 1;
  padding: 12px;
  border-radius: 4px;
  p {
    font-weight: 700;
    margin-bottom: 0 !important;
  }
}
.seaTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  tbody {
    position: relative;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f0f0f0;
    color: #000;
  }
  tr {
    background-color: #fff;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }
  tr,
  td,
  th {
    text-align: center;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}
.groupData div {
  margin-top: 0.5rem;
  b {
    font-weight: 600;
    font-size: 16px;
  }
  span {
    text-transform: capitalize;
    font-weight: 500;
  }
  a:hover {
    color: #000;
  }
}

.product-details-tab .nav.nav-pills .nav-link {
  border: 0.2rem solid var(--theme-color);
  border-radius: 5px;

  @media screen and (max-width: 767px) {
    margin: 0.5rem;
  }
}
.product-details-tab .nav.nav-pills .nav-link.active {
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $dark2;
}

// product price range
.ranges {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 0;
  grid-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  text-align: center;
}
.range {
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  .amount {
    font-size: 20px;
    font-weight: 500;
  }
  .piece {
    font-size: 16px;
    font-weight: 500;
  }
}
.rangeActive {
  background-image: linear-gradient(to right, #f7b733, #fc4a1a);
  color: $white;
}

.product-details-tab .tab-content {
  margin-top: 1rem !important;
}
.t-white {
  color: $white !important;
}
.offer-btn-image {
  width: 20px;
  margin: 0.5rem;
}
.country-im {
  height: 24px;
  width: 40px;
  margin-left: 1rem;
  display: inline-block;
}
.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subImages .count {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to top left,
    transparent 0,
    transparent 50%,
    var(--primary-color-dark) 0,
    var(--primary-color-light)
  );
  color: #fff;
  padding: 4px 0 4px 4px;
  font-size: 12px;
  height: 36px;
  width: 36px;
  text-align: left;
  // border-top-left-radius: 8px;
  color: #000;
  font-weight: 600;
}
.product-desc-content {
  .table-responsive-sm {
    p {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
    }
  }
}
.page-desc {
  ul {
    li {
      position: relative;
      padding-left: 1.3rem;
      &:before {
        content: "•";
        position: absolute;
        display: block;
        top: 0;
        left: 0.2rem;
      }
    }
  }
}

// responsiveness

@media only screen and (max-width: 1700px) {
  .bannerSection {
    grid-template-columns: 1fr 360px;
  }
  .slImg,
  .promotions img {
    height: 360px;
  }
}

@media only screen and (max-width: 1500px) {
  .bannerSection {
    grid-template-columns: 1fr 320px;
  }
  .slImg,
  .promotions img {
    height: 320px;
  }
}

@media only screen and (max-width: 1400px) {
  .bannerSection {
    grid-template-columns: 1fr;
  }
  .offer-box {
    display: none;
  }
  .slImg {
    height: auto;
  }
  .homeComp h3 {
    font-size: 18px;
    text-align: center;
  }
  .homeBoxContainer button {
    font-size: 12px;
    width: 140px;
    height: 32px;
    padding: 0 0.5rem;
  }
  .saleChinaOff {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .shippingBox:first-child {
    margin-bottom: 0.75rem;
  }
  .shippingBox {
    margin-right: 0 !important;
  }
  .shippingBoxContainer {
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  .c-card {
    border-radius: 0 !important;
  }
}
@media only screen and (max-width: 800px) {
  .homeBoxContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.75rem;
    grid-gap: 0.5rem;
    gap: 0.5rem;
  }
  .infoPageContentBlock {
    h2 {
      font-size: 18px;
    }
  }
}

.header-26 {
  position: fixed;
  top: 0;
  left: 0;
  .header-search {
    .header-search-wrapper {
      border-right: 0;
    }
    .img-icon {
      max-width: 40px;
    }
    .form-control {
      padding-left: 10px;
    }
  }
}

.fixed-sidebar {
  // position: absolute;
  // top: 64px;
  // left: 0;
  // z-index: 999;
  // padding: 0;
  // height: 100%;
  .side-nav {
    // position: absolute;
    // width: 225px;
    // top: 0;
    // left: 0;
    // height: 100%;
    // overflow-y: scroll;
    scrollbar-width: none;
  }
}
.side-nav::-webkit-scrollbar {
  width: 0;
}
.main-area {
  margin-left: 225px;
  margin-top: 64px;
  padding: 10px;
}
.quantify-bdr {
  height: 36px !important;
  background: #fff;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: $baseColor;
}
.footer.footer-2 .footer-copyright {
  font-weight: 600 !important;
}
.megamenu {
  // display: block;
}

.cat-see {
  height: 22px;
  font-size: 12px;
}
// .menu-vertical .megamenu {
//   left: 35%;
// }

.addQ {
  padding: 17px 0 !important;
}
.page-wrapper {
  padding-top: 6rem;
}
.subChildCat {
  max-height: 150px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.subChildCat::-webkit-scrollbar {
  width: 1rem;
}
.shadow-0 {
  box-shadow: none;
}
.icon-none::after {
  display: none !important;
}
.icon-none:hover {
  font-weight: 600;
}
.title-sm {
  font-size: 18px;
}
.gap .gap-item {
  padding-right: 0;
}
.gap .gap-item:nth-child(6n) {
  padding-right: 10px;
}
.mb-10x {
  margin-bottom: 10px;
}
.object-cover {
  object-fit: cover;
}
.product-title a,
.product-title a:hover {
  color: #000;
}

@media only screen and (min-width: 768px) {
  .intro-slide,
  .intro-section .col-lg-5cols > .banner.banner-overlay {
    min-height: 348px !important;
  }
}

@media (max-width: 991px) {
  .main-area {
    margin-left: 0;
  }
}
@media (max-width: 751px) {
  .main-area {
    margin-top: 124px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
