:root {
  --theme-color: #fe6f03;
  --theme-icon-color: #fe6f03;
  --theme-hover-color: #cd6110;
  --button-bg-color: #fe6f03;
  --button-bg-hover-color: #ff7207;
  --button-font-color: #fff;
  --button-font-hover-color: #fff;

  --select-text-bg-color: #2196f3;
  --select-text-font-color: #fff;

  --link-color: #555555;
  --link-hover-color: #fe6f03;

  --product-title-link-color: #333;
  --product-title-link-hover-color: #fe6f03;

  --footer-bg-color: #fe6f03;
  --footer-text-color: #fe6f03;
  --footer-icon-color: #777;
  --footer-hover-color: #c5c5c5;
}

$baseColor: #fe6f03;
$baseFontColor: #fff;

$baseHoverColor: #cd6110;
$baseHoverFontColor: #fff;

$LinkColor: #fe6f03;

$selectAttributeBorderColor: #fe6f03;
$dark2: #000000;
$white: #fff;
